# IDE Files
.idea/
.bash_history
.gitattributes

Vagrantfile
puphpet/
.vagrant

# Logs
access.log
error.log

# OS Files
.DS_Store

# Buildable Files
build/logs/
build/pdepend/
build/phpdox/

# Composer Sourced Files
composer.lock
vendor/

# Bower resources
public/resources/bower
